:root {
  line-height: 1.5;
  font-weight: 100;

  color: rgba(255, 255, 255, 0.87);
  background-color: #5a39a1;
}

.app-container {
  display: flex;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.side-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #3e9b4b;
}

.main-content {
    flex:1;
}

.page-header {
  border-bottom: 2px solid #3e9b4b;
}

#brandName {
  font-size: 2em;
}

.search-bar {
  margin: 100px auto;
  width: 500px;
  height: 50px;
  border-radius: 1em;
  border: 5px solid #3e9b4b;
  background-color: #60878b;
}

.song-table {
  border: 2px solid #3e9b4b;
  margin: auto;
}

.table-headings {
  font-size: 20px;
  border-bottom: 2px solid #3e9b4b;
}

