:root {
  line-height: 1.5;
  font-weight: 100;

  color: rgba(255, 255, 255, 0.87);
  background: #6E06FF;
  background: linear-gradient(135deg, #6E06FF, #AE4FD6);
}

.app-container {
  display: flex;
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.side-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #3e9b4b;
  gap: 5px;
  padding-right: 7px;
  align-items: center;
}
.side-menu-intro {
  background-color: #311e58;
  height: 100px;
  border-radius: 30px;
  border: 5px solid #8955f8;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0% 2% 0% 0%;
  padding: 4%;
}
.side-menu-button {
  background-color: #8955f8;
  height: 70px;
  width: 150px;
  border-radius: 30px;
  border: 5px solid #311e58;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.main-content {
  flex: 1;
}

.page-header {
  border-bottom: 2px solid #3e9b4b;
}

#brandName {
  font-size: 2em;
}

.search-bar {
  margin: 100px auto;
  width: 500px;
  height: 50px;
  border-radius: 1em;
  border: 5px solid #3e9b4b;
  background-color: #60878b;
}

.song-table {
  border: 2px solid #3e9b4b;
  margin: auto;
}

.table-headings {
  font-size: 20px;
  border-bottom: 2px solid #3e9b4b;
}
